<nav class="navbar --bs-primary" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{url_for('static',filename='img/ViyAr.png')}}" alt="Logo" width="60" height="60"
                class="d-inline-block align-text-center">
            Kronos
        </a>
        <div class="container" >
            <a class="navbar-brand" href="https://www.instagram.com/fundacionvidayarte/">
                <img src="{{url_for('static',filename='img/instagram.svg')}}" alt="Instagram" width="30" height="30"
                    class="d-inline-block align-text-center">
                Instagram
            </a>
            <a class="navbar-brand" href="https://www.facebook.com/fundacionvidayarte/">
                <img src="{{url_for('static',filename='img/facebook.svg')}}" alt="Facebook" width="30" height="30"
                    class="d-inline-block align-text-center">
                Facebook
            </a>
            <a class="navbar-brand" href="https://www.youtube.com/user/fundacionvidayarte">
                <img src="{{url_for('static',filename='img/youtube.svg')}}" alt="Youtube" width="30" height="30"
                    class="d-inline-block align-text-center">
                Youtube
            </a>
        </div>
    </div>
</nav>